<section data-ng-controller="LearnrouteController" data-ng-init="find()">
	<div class="page-header">
		<h1>Mis Articulos Elegidos</h1>
	</div>
	<div class="list-group">

		<a data-ng-controller="MyArticlesController" data-ng-repeat="article in misArticulos" class="list-group-item"  href="/#!/{{article.arType}}/{{article._id}}" >
			<h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
			<button data-ng-click="remArt2me($index, article, $event)" class="glyphicon glyphicon-heart remArt2me" ></button>
			<p> {{article.content | limitTo:140}} </p>
		</a>

	</div>
	<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
		No articles yet, why don't you <a href="/#!/articles/create">create one</a>?
	</div>
</section>
